version: '3.8'

services:
  
  mongodb:
    image: mongo:latest
    container_name: mongodb_container
    ports:
      - "27017:27017"

  
  backend:
    build: ./backend
    container_name: backend_container
    ports:
      - "8080:8080"
    depends_on:
      - mongodb

  
  frontend:
    build: ./frontend
    container_name: frontend_container
    ports:
      - "8081:8081"
    depends_on:
      - backend