name: CI/CD Pipeline

on:
  push:
    branches:
      - main

jobs:
  build-and-deploy:
    runs-on: ubuntu-latest

    steps:
    - name: Checkout Code
      uses: actions/checkout@v3

    - name: Log in to Docker Hub
      uses: docker/login-action@v2
      with:
        username: ${{ secrets.DOCKER_USERNAME }}
        password: ${{ secrets.DOCKER_PASSWORD }}

    - name: Build and Push Backend Image
      run: |
        docker build -t akshaykumar2222/dd-backend:latest ./backend
        docker push akshaykumar2222/dd-backend:latest

    - name: Build and Push Frontend Image
      run: |
        docker build -t akshaykumar2222/dd-frontend:latest ./frontend
        docker push akshaykumar2222/dd-frontend:latest

    - name: Deploy to AWS EC2
      uses: appleboy/ssh-action@master
      with:
        host: ${{ secrets.EC2_HOST }}
        username: ${{ secrets.EC2_USERNAME }}
        key: ${{ secrets.EC2_SSH_KEY }}
        script: |
          cd discover-dollar-devops-task
          git pull origin main
          sudo docker-compose pull
          sudo docker-compose up -d
